.row
  .col-xs-6
    a.thumbnail
      img.lazy.img-responsive(
      data-original="img/bmw_m1_side.jpg"
      alt="BMW M1 Side"
      width="765"
      height="574"
      style='width: 765px; height: 574px; background-image: url("/img/grey.gif")'
      )
  .col-xs-6
    a.thumbnail
      img.lazy.img-responsive(
      data-original="img/viper_1.jpg"
      alt="Viper 1"
      width="765"
      height="574"
      style='width: 765px; height: 574px; background-image: url("/img/grey.gif")')
  .col-xs-6
    a.thumbnail
      img.lazy.img-responsive(
      data-original="img/viper_corner.jpg"
      alt="Viper Corner"
      width="765"
      height="574"
      style='width: 765px; height: 574px; background-image: url("/img/grey.gif")')
  .col-xs-6
    a.thumbnail
      img.lazy.img-responsive(
      data-original="img/bmw_m3_gt.jpg"
      alt="BMW M3 GT"
      width="765"
      height="574"
      style='width: 765px; height: 574px; background-image: url("/img/grey.gif")')
  .col-xs-6
    a.thumbnail
      img.lazy.img-responsive(
      data-original="img/corvette_pitstop.jpg"
      alt="Corvette"
      width="765"
      height="574"
      style='width: 765px; height: 574px; background-image: url("/img/grey.gif")')
  .col-xs-6
    a.thumbnail
      img.lazy.img-responsive(
      data-original="//placehold.it/765x574/E56A97/fff"
      alt="placehold.it"
      width="765"
      height="574"
      style='width: 765px; height: 574px; background-image: url("/img/grey.gif")')
  .col-xs-6
    a.thumbnail
      img.lazy.img-responsive(
      data-original="404.jpg"
      alt="404"
      width="765"
      height="574"
      style='width: 765px; height: 574px; background-image: url("/img/grey.gif")')
